services:
  downtify:
    container_name: downtify
    image: 'downtify:${TAG-latest}'
    restart: unless-stopped
    build: .
    ports:
      - '8000:30321'
    volumes:
      - ./downloads/docker:/downloads
      - ./frontend/dist:/downtify/frontend/dist:ro
    environment:
      - DOWNTIFY_PORT=30321  # Optional 
      - CLIENT_ID=c3e98c954fbd469aa7023f8be6adcf70  # Optional
      - CLIENT_SECRET=205557fcb24d4b328f436bb3a3bed130  # Optional