services:
  downtify:
    container_name: downtify
    image: 'downtify:${TAG-latest}'
    restart: unless-stopped
    build: .
    ports:
      - '8000:30321'
    volumes:
      - ./downloads/docker:/downloads
      - ./frontend/dist:/downtify/frontend/dist:ro
    environment:
      - DOWNTIFY_PORT=30321  # Optional 
#      - CLIENT_ID=1888044a412444b7bc3de411c87df5ed  # Optional
#      - CLIENT_SECRET=d61543acc16a46e9a0b9e137796151d9  # Optional