<!DOCTYPE html>
<html class="h-100" lang="en-us">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Downtify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body class="d-flex h-100 text-center text-bg-dark" data-bs-theme="dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div class="d-none d-md-block">
            <a href="/" style="color: #1AD05C;" class="text-decoration-none">
                <div>
                    <h3 class="d-flex flex-column align-items-start float-md-start mb-0 fs-4 fw-bold logo">Downtify <div>
                        <h6><span class="badge bg-success-subtle border border-success-subtle text-success-emphasis rounded-pill">v0.2.4</span></h6>
                    </div>
                    </h3>
                </div>
            </a>
            <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 nav-link"
            href="https://github.com/henriquesebastiao/downtify/issues">Support</a>
          <a class="nav-link fw-bold py-1 px-0 nav-link" href="https://github.com/henriquesebastiao/downtify"><i
              class="fa-brands fa-github gh-logo"></i></i></a>
            </nav>
        </div>
        <div class="d-block d-md-none d-flex justify-content-between">
            <a href="/" style="color: #1AD05C;" class="text-decoration-none">
                <h3 class="float-md-start mb-0 fs-4 fw-bold">Downtify</h3>
            </a>
        <a class="nav-link fw-bold py-1 px-0" href="https://github.com/henriquesebastiao/downtify"><i
            class="fa-brands fa-github gh-logo"></i></i></a>
        </div>
    </header>
    <main class="px-3">
        <h1>Your Downloaded Files</h1>
        <p class="lead">Click on a file to download.</p>
        <ul class="list-group text-dark" id="file-list" hx-get="/list-downloads/" hx-trigger="load" hx-target="#file-list" hx-swap="innerHTML">
            {{ files | safe }}
        </ul>
    </main>
    <footer class="mt-auto text-white-50">
        <p>
            Developed by
            <a href="https://github.com/henriquesebastiao" class="author">@henriquesebastiao</a>.
        </p>
    </footer>
</div>
<script src="/static/js/script.js"></script>
</body>

</html>