name: Build and Push Docker Image

on:
  workflow_run:
    workflows: ["Test"]
    types: [completed]
    branches:
        - 'main'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Extract version from git tags
        id: version
        run: echo "VERSION=$(git describe --tags --always)" >> "$GITHUB_OUTPUT"
    
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push app image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            henriquesebastiao/downtify:latest
            henriquesebastiao/downtify:${{ steps.version.outputs.VERSION }}
            ghcr.io/${{ github.repository }}/app:latest
            ghcr.io/${{ github.repository }}/app:${{ steps.version.outputs.VERSION }}
          platforms: linux/amd64,linux/arm64